<ng-container *ngIf="users$ | async as users">
  <ng-container *ngIf="!users.hasError; else error">
    <table
      mat-table
      [dataSource]="users.values"
      class="mat-elevation-z3"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
        >Id</th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="login">
        <th
          mat-header-cell
          *matHeaderCellDef
        >Login</th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ element.login }}</td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </ng-container>
  <ng-template #error>An error occured while loading user. </ng-template>
  <mat-card
    *ngIf="users.loading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </mat-card>
</ng-container>
