.basic-container {
  padding: 30px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: min-content 1fr;
}

.users {
  grid-column: 1 / -1;
}

.search-users {
  display: grid;
  column-gap: 12px;
  grid-template-columns: 300px min-content min-content;
  align-items: center;
}