<div class="mat-app-background basic-container">
  <div class="search-users">
    <mat-form-field>
      <input
        matInput
        type="text"
        [(ngModel)]="search"
      >
    </mat-form-field>
    <button
      mat-stroked-button
      class="mat-elevation-z3"
      (click)="onSearchUsersClick()"
    >Search users</button>
    <button
      id="load-all-button"
      mat-stroked-button
      class="mat-elevation-z3"
      (click)="onLoadUsersClick()"
    >Load all users</button>
  </div>
  <app-user class="users"></app-user>
</div>
