@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
}


/* You can add global styles to this file, and also import other style files */
html,
body {}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
